body {
	font: normal normal normal 12px/1.5 "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	background: #2A1B05;
	background: #1D1304;
}

/* Structure
--------------------------------------- */



/* Misc
--------------------------------------- */
.clear {
	clear: both;
}

/* Landing page
--------------------------------------- */
#landing-page { margin-top: 170px; text-align: center;}

#landing-page h1 a {
	display: block;
	margin-left: -3000px;
	width: 3672px;
	text-align: left;
	background-image: url(/images/logo-large.gif);
	background-position: top right;
	background-repeat: no-repeat;
	height: 142px;
	text-decoration: none;
}
#landing-page p.enter {
	font-size: 15px;
	text-transform: uppercase; letter-spacing: 2px;
	font-family: Georgia, "Times New Roman", serif;
}
#landing-page p.enter a {
	color: #7dcbff;
	text-decoration: none;
	padding: 5px 2px 0 2px;
}
#landing-page p.enter a:hover {
	color: #fff; border-color: #fff;
}
